[submodule "3rd/Moe.Core"]
	path = 3rd/Moe.Core
	url = http://git.bakachu.cn/9chu/Moe.Core.git
[submodule "3rd/Moe.Coroutine"]
	path = 3rd/Moe.Coroutine
	url = http://git.bakachu.cn/9chu/Moe.Coroutine.git
	branch = master
